.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 80px;
  padding: 15px 20px;
  background-color: #FFF;
}
.header .refresh {
  display: inline-block;
  height: 100%;
  width: 90px;
}

.header .refresh .logo {
  height: 100%;
}

.header__nav {
  flex-grow: 1;
}

.header__nav__list {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.header__nav__list__items__link {
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;

  color: #042429;
  transition: color .2s;
}
.header__nav__list__items__link:hover {
  color: #1296aa;
}
.header__nav__list__items__link::after {
  position: absolute;
  bottom: 0;
  left: 1px;
  content: " ";
  width: 0;
  height: 2px;
  background-color: #1296aa;
  transition: 0.4s;
}
.header__nav__list__items__link:hover::after {
  width: 99%;
}

.login-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 80%;

  border-radius: 7px;
  font-size: 1.6rem;
  background-color: #042429;
  color: #FFF;
  transition: .2s;
}

.login-link:hover {
  background: none;
  color: #1296aa;
  box-shadow: inset 0 0 0 3px #1296aa;
  font-weight: 500;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
  height: calc(100dvh - 80px);

  background-image: url(../img/bg-sp-state.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}

.main > h1, .main > h2 {
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 4rem;
  color: #FFF;
}

.main > .vote-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 60px;
  margin-top: 50px;
  
  font-size: 2.5rem;
  color: #FFF;
  border: 3px solid #FFF;
  transition: .2s;
}

.main > .vote-link:hover {
  background-color: #FFF;
  color: #042429;
  font-weight: 500;
}

/* Candidates */
/* .candidates-container {
  display: inline-block;
  width: 100%;
} */

#myCarousel > .carousel-indicators > button {
  background-color: #000;
}

#myCarousel > button > .carousel-control-prev-icon {
  background-image: url(../img/left-arrow.png);
}

#myCarousel > button > .carousel-control-next-icon {
  background-image: url(../img/right-arrow.png);
}

.carousel-item {
  height: 400px;
  width: 100%;
  background-color: #FFF;
}

.carousel-item > .container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.carousel-item img {
  height: 80%;
}

.carousel-item .candidate-info {
  height: 80%;
  font-size: 1.8rem;
}

.carousel-item .candidate-info > h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.carousel-item .candidate-info > p {
  margin-bottom: 15px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;

  background-color: #000;
  color: #777;
}

.footer > h3 {
  margin-bottom: 5px;
}