:root {
  --background-color: #333333;
  --ballot-box-background-color:#dcdde1;
  --ballot-box-keyboard-color:#2f3640;
  --ballot-box-screen-color:#e3eef9;
  --ballot-box-keyboard-button-color:#292e33;
  --ballot-box-white-button-color:#eeeeee;
  --ballot-box-correct-button-color:#ff841f;
  --ballot-box-confirm-button-color:#7daa44;
  --light-border-color:#cccccc;
  --dark-border-color:#444444;
  --light-text-color:#eeeeee;
  --dark-text-color:#333333;
}

.main {
  display: grid;
  place-items: center;
  height: calc(100dvh - 80px);
  background-color: var(--background-color);
}

.voting-machine {
  display: flex;
  gap: 30px;
  width: 90%;
  max-width: 1000px;
  height: clamp(400px, 90%, 500px);
  background-color: var(--ballot-box-background-color);
  box-shadow: 25px 30px 55px rgba(173, 172, 172, 0.192);
  padding: 30px;
  border-radius: 5px;
}

.painel {
  flex-grow: 1;
  height: 100%;
  background-color: var(--ballot-box-screen-color);
  border-radius: 5px;
  border: 2px solid var(--light-border-color);
  padding: 20px;
  color: var(--dark-text-color);
}

.painel_voting {
  display: flex;
  flex-wrap: wrap;
}
.painel_voting.none {
  display: none;
}

.painel_voting_texts {
  flex-grow: 1;
}

.painel_voting_title {
  font-size: 16px;
}

.painel_voting_type {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
}

.painel_voting_numbers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.painel_voting_numbers > p {
  display: inline;
  font-size: 14px;
}

.painel_voting_number {
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: 500;
  width: 45px;
  height: 55px;
  border: 1px solid var(--dark-border-color);
}

.painel_voting_description {
  font-size: 14px;
  margin-top: 15px;
}

.painel_voting_image img {
  width: 110px;
  height: 150px;
  border: 1px solid var(--dark-border-color);
}

.painel_voting_image img.none {
  display: none;
}

.painel_voting_instructions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border-top: 2px solid var(--dark-border-color);
  font-size: 14px;
  margin-top: 35px;
  padding-top: 30px;
}

.painel_end {
  display: grid;
  place-items: center;
  font-size: 40px;
  line-height: 125%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.painel_end.none {
  display: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--ballot-box-keyboard-color);
  min-width: 350px;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
}

.keyboard_numbers {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  place-content: space-around;
  row-gap: 20px;
  width: 100%;
}

.keyboard_numbers button {
  width: 100%;
  aspect-ratio: 2 / 1.25;
  background-color: var(--ballot-box-keyboard-button-color);
  color: var(--light-text-color);
  font-size: 30px;
  border-radius: 5px;
}

.keyboard_numbers button:last-child {
  grid-column: 2;
}

.keyboard_actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.keyboard_actions button {
  color: var(--dark-text-color);
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  width: 30%;
  height: 45px;
}
.white-btn {
  background-color: var(--ballot-box-white-button-color);
}
.correct-btn {
  background-color: var(--ballot-box-correct-button-color);
}
.confirm-btn {
  background-color: var(--ballot-box-confirm-button-color);
}

@media screen and (max-width: 890px) {
  .main {
    height: auto;
    min-height: calc(100dvh - 80px);
    padding-block: 30px;
  }
  .voting-machine {
    flex-direction: column;
    height: auto;
  }
  .keyboard {
    gap: 30px;
    width: 100%;
  }
}